<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.pharmacy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pharmacy">
        <activity

            android:name=".FirstaidStock"
            android:exported="false" />
        <activity
            android:name=".AddFirstaid"
            android:exported="false" />
        <activity
            android:name=".UpdateMedicine"
            android:exported="false" />
        <activity
            android:name=".MedicineStock"
            android:exported="false" />
        <activity
            android:name=".AddMedicine"
            android:exported="false" />
        <activity
            android:name=".UpdateCosmatic"
            android:exported="false" />
        <activity
            android:name=".UpdateCosmatics"
            android:exported="false" />
        <activity
            android:name=".cosmaticStock"
            android:exported="false" />
        <activity
            android:name=".AddCosmatic"
            android:exported="false" />
            
        <activity
            android:name=".RequestApprove"
            android:exported="true" />

        <activity
            android:name=".UpdateUser"
            android:exported="true" />
        <activity
            android:name=".Setting"
            android:exported="true" />
        <activity
            android:name=".AddStock"
            android:exported="true" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Customer"
            android:exported="true" />
        <activity
            android:name=".Owner"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Signup"
            android:exported="true" />
        <activity
            android:name=".AddPharmacy"
            android:exported="true" />
        <activity
            android:name=".UpdatePharmacy"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>